* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  width: 1005;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;

  .calculator {
    padding: 20px;
    border-radius: 16px;
    background-color: #2d2f38;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;

    input {
      width: 320px;
      border: none;
      padding: 24px;
      margin: 10px;
      background: transparent;
      font-size: 40px;
      text-align: right;
      cursor: pointer;
      color: #ffffff;
    }
    input::placeholder{
     color: #ffffff;
    }
    .calculator-btn-container {
      display: flex;
      flex-direction: column;

      .calculator-btn-rows {
        display: flex;
        align-items: center;
        justify-content: space-around;

        .button {
          border: none;
          width: 60px;
          height: 60px;
          margin: 10px;
          border-radius: 14px;
          background: #2d2f38;
          color: #ffffff;
          font-size: 20px;
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
          cursor: pointer;
          transition: all 0.2s ease;
        }
        .operator {
          color: #6ee4d5;
        }
        button:hover{
          background-color: #34363f;
        }
      }
    }
  }
}
